@import url("https://use.typekit.net/dyt4phh.css");
body {
    font-family: "futura-pt", sans-serif;
    background-color: #141414;
    margin: 0px;
    padding: 0px;
    ::-webkit-scrollbar {
        width: 0.5rem;
        background-color: black;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #ebebeb;
        border-radius: 15px;
    }
}
::selection {
    background-color: #ffee00;
    color: #141414;
}
h1 {
    font-family: "futura-pt", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 7vw;
    text-transform: uppercase;
    color: #f5f4f3;
    margin: 0 0 1vw 0;
}
h2 {
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2vw;
    color: #f5f4f3;
}
p,
a {
    font-family: "futura-pt", sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0.2px;
    line-height: 1.3rem;
    color: #f5f4f3;
}
@keyframes fontWidth {
    0% {
        font-weight: 300;
    }
    50% {
        font-weight: 900;
    }
    100% {
        font-weight: 300;
    }
}
button:focus,
a:focus {
    outline: none;
}

@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 15vw;
    }
    .routes {
        font-size: 12vw;
    }
    p,
    a {
        font-size: 1rem;
        line-height: 1.3rem;
    }
}
