@import url("https://use.typekit.net/dyt4phh.css");
body,
html {
    overflow: hidden;
    font-family: eurostile-extended, sans-serif;
    font-weight: 900;
    font-style: normal;
    margin: 0;
}
h1 {
    font-size: 8vw;
    font-family: eurostile-extended, sans-serif;
    font-weight: 900;
    letter-spacing: 1rem;
    font-style: normal;
    color: #eacc69;
}
.routes {
    color: #eeeeee;
    text-decoration: none;
    font-size: 5vw;
    font-family: eurostile-extended, sans-serif;
    font-weight: 700;
    letter-spacing: 00.5rem;
    z-index: 1;
    mix-blend-mode: color-dodge;
    filter: brightness(100%);
    &:hover {
        mix-blend-mode: normal;
        color: #eacc69;
        text-decoration: none;
    }
}
a {
    text-decoration: none;
    color: #eee;
    font-family: balboa, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2vw;
    letter-spacing: 0.1rem;
    &:hover {
        text-decoration: underline;
    }
}
button:focus {
    outline: none;
}

@media only screen and (max-width: 1024px) {
    h1{
        font-size: 23vw;
    }
    .routes{
        font-size: 12vw;
    }
    a{
        font-size: 5vw;
    }
}
